
body{
    width: 80%;
    margin:auto;
}

#header{
    display: flex;
    flex-direction: row; 
}
.main-header{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#header > p{
    font-size: 20px;
    width:80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px grey solid;
    box-sizing: border-box;
    background-color: grey;
    color:#fff;
    border-radius: 4px;
    margin-left:10px;
}

.table{
    width:100%;
    margin-top:30px;
    margin-bottom: 30px;
}

.row{
    display:flex;
    flex-direction: row;
}
.col{
    padding:5px;
    margin: 30px;
    
    overflow: hidden;
    justify-content: center;
}
img{
    max-width: 100%;
   
}

.text{
    background: lightgrey;
    padding:30px;
}

#footer{
    display: flex;
    justify-content: flex-end;
    margin:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}
@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        height: 300px;
    }
    .col {
        width: 100%
    }
}
